.home
  margin: 20px

.home_info
  padding: 20px 0

.home_title
  font-size: 16px
  font-weight: bold

.home_list
  padding: 10px 0

.home_item
  font-size: 14px
  padding: 3px 0

.startPage_search
  position: absolute
  top: 140px
  height: calc(100% - 180px)
  left: 50%
  width: 600px
  transform: translateX(-50%)
  input
    width: 100%
    box-sizing: border-box
    height: 30px
    padding: 5px 25px
    font-size: 12px
    line-height: 1.5
    color: #333
    background-color: #fff
    border: 1px solid #ccc
    border-radius: 3px
    transition: all 200ms
    &:focus
      border-color: #adadad

