@import "~@skybonds/ui-styles/vars"

.reportLayers
  display: block
  margin: 0 0 11px
  position: relative
  z-index: 2
  @include clearFix

.reportLayersStrip_list
  display: inline-block
  max-width: calc(100% - 200px)
  font-size: $fsM

.reportLayersStrip_item
  display: inline-block
  border-radius: 3px 3px 0 0
  line-height: 1
  white-space: nowrap
  &.__active
    background-color: transparentize($colorBlack, .93)

.reportLayersStrip_name
  display: inline-block
  line-height: 1
  height: 24px
  padding: 0 3px
  margin: 0 -3px
  font-size: $fsXL
  border: 1px solid $colorBorder
  border-radius: 3px
  max-width: 220px
  &[readonly]
    border-color: transparent
    background-color: transparent
    cursor: pointer
    text-overflow: ellipsis

.reportLayersStrip_item.__active
  .reportLayersStrip_name
    cursor: text

.reportLayersStrip_item:hover
  .reportLayersStrip_name:not(:focus)
    color: $colorLoudHover

.reportLayersStrip_content
  position: relative
  padding: 3px 10px 2px
  cursor: pointer

.reportLayersStrip_item.__set.__hidden
  .reportLayersStrip_name
    opacity: .5

.reportLayersStrip_remove
  margin: 0 0 0 6px
  color: $colorMuted
  cursor: pointer
  &:hover
    color: $colorLoudHover

.reportLayersStrip_buttons
  display: inline-block
  margin: 0 0 0 10px
  font-size: $fsM
  line-height: 1
  white-space: nowrap

.reportLayersStrip_button
  display: inline-block
  margin-left: 10px
  padding: 2px 3px
  color: $colorLink
  background: transparentize($colorLink, 0.9)
  border-radius: 3px
  cursor: pointer
  &:first-child
    margin-left: 0
  &:hover
    color: $colorLoudHover
    background: transparentize($colorLoudHover, 0.9)
  &:before
    content: "+"


.reportLayersView:hover .reportLayersView_wrap
  display: block
.reportLayersView
  position: relative
  z-index: 1
  display: inline-block
  color: $colorMuted
.reportLayersStrip_item:hover,
.reportLayersStrip_item.__active
  .reportLayersView
    color: $colorText
.reportLayersView
  :global(.svgIcon)
    margin: 0 4px 0 0
    cursor: pointer
.reportLayersView_wrap
  position: absolute
  padding: 5px 0 0
  top: 100%
  left: -5px
  min-width: 100%
  display: none
.reportLayersView_wrap.__active
  display: block
.reportLayersView_list
  position: relative
  padding: 10px 0
  border: 1px solid $colorBorder
  border-radius: 3px
  background-color: $colorWhite
  &:before
    content: ""
    position: absolute
    top: -6px
    left: 6px
    width: 10px
    height: 10px
    border-style: solid
    border-color: $colorBorder
    border-width: 1px 0 0 1px
    border-radius: 3px 0 0 0
    background-color: $colorWhite
    transform: rotate(45deg)
.reportLayersView_link
  display: block
  padding: 6px 10px
  color: $colorText
  cursor: pointer
  &:hover
    background-color: $colorLinkHoverBackground
.reportLayersView_item.__active
  .reportLayersView_link
    color: inherit !important
    cursor: default
    &:hover
      color: inherit !important
      background-color: transparent

.reportLayersStrip_item.__set.__hidden
report-layer-set-view
  .reportLayersView > .reportLayersView_icon
    opacity: .5


.reportLayerSettings
  display: flex
  flex-direction: row
  clear: both
  position: relative

.reportLayerSettings_search
  display: block
  width: 420px
  min-width: 420px
  padding: 4px
  border-radius: 0 0 0 3px
  background-color: transparentize($colorBlack, 0.93)
  position: relative

.reportLayerSettings_filters
  flex-grow: 1
