@import '~@skybonds/ui-styles/styles/variables/_variables'
.buttonGroup
  display: inline-block
  line-height: 1.5

  .buttonGroup_item
    position: relative
    left: -1px
    margin-right: -1px
    display: inline-block
    background-color: #fff
    border: 1px solid #ccc
    cursor: pointer
    &.__active
      background-color: #e6e6e6
      border-color: #adadad
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
    &:hover
      background-color: #e6e6e6
      border-color: #adadad
      z-index: 1
    &:first-child
      border-radius: 3px 0 0 3px
      left: 0
      margin-left: 0
    &:last-child
      border-radius: 0 3px 3px 0

  .buttonGroup_link
    display: block
    padding: 0 .35em
    color: $colorText
    &:active,
    &:hover,
    &:focus
      color: $colorText
